<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测验</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var answer = [[${question.answer}]];
        var x =document.getElementsByName('topicType');
        /*]]>*/
    </script>
</head>

<body>
<p th:text="${question.topic}"></p>
<form>
    <p th:each="i:${answerList}">
    <input type="radio" name="topicType" th:value="${i}"  >
        <span th:text="${i}"></span>
    </p>
</form>


<datalist id="TopicTypeList">

</datalist>
<select id="TopicType"  list="TopicTypeList">
    <option th:value="${i.getTopicType()}" th:each="i : ${topicTypeList}">
        <span th:text="${i.topicType}"></span>
    </option>
</select>
<button th:onclick="window.open('./index?id=' + ([[${question.id}]] + 1), '_self')">下一题</button>
<button th:onclick="window.open('./index?id=' + ([[${question.id}]] - 1), '_self')">上一题</button>
</body>
</html>