<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测验</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var answer = [[${question.answer}]];
        var prompt =[[${question.prompt}]];
        function ts() {
            document.getElementById("prompt").innerText=prompt;
        }
        function f() {
        if (frm.topicType.value==answer){
            window.open('./index?id=' + ([[${question.id}]] + 1), '_self');
            alert("正确");
            return false;
        }else {
            alert("错误");
            return false;
        }
        }
        /*]]>*/
    </script>
</head>

<body>
<div style="margin:0 auto;width:600px" >
<p th:text="${question.topic}" ></p>
<form action="" method="post" onsubmit="return  f(this);" th:name="frm">
    <p th:each="i:${answerList}">
    <input type="radio" name="topicType"  th:value="${i}"  >
        <span th:text="${i}"></span>
    </p>
    <input th:type="submit" th:value="提交">
</form>
<button onclick="ts()">提示</button><br>
<span id="prompt"></span>
<br>
<datalist id="TopicTypeList">

</datalist>
<select id="rand"  list="randList">
    <option value="true">随机</option>
    <option value="false">顺序</option>
</select>
<select id="TopicType"  list="TopicTypeList">
    <option th:value="${i.getTopicType()}" th:each="i : ${topicTypeList}">
        <span th:text="${i.topicType}"></span>
    </option>
</select>
<button th:onclick="window.open('./index?id=' + ([[${question.id}]] + 1), '_self')">下一题</button>
<button th:onclick="window.open('./index?id=' + ([[${question.id}]] - 1), '_self')">上一题</button>
</div>
</body>
</html>