<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<a href="/control/index">返回控制面板</a>
<form th:action="@{/control/add}"  method="post">
    <label>章节</label>
    <input type="text" name="chapter" id="chapter" placeholder="chapter">
    <label>题型</label>
    <input type="text" name="topicType" id="topicType" placeholder="topicType">
    <label>标签</label>
    <input type="text" name="tag" id="tag" placeholder="tag">
    <label>题目</label>
    <input type="text" name="topic" id="topic" placeholder="topic">
    <label>答案</label>
    <input type="text" name="answer" id="answer" placeholder="answer">
    <label>提示</label>
    <input type="text" name="prompt" id="prompt" placeholder="prompt">
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
</form>

</body>
</html>